{% extends 'base.html' %}

{% block title %}
Restaurants
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>

      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            {% for column_header in cafes[0] %}
              <td>{{ column_header }}</td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for cafe_row in cafes[1:] %}
            <tr>
              {% for cafe_row_data in cafe_row %}
                {% if loop.index0 == 1 %}
                  <td><a href="{{ cafe_row_data }}">Maps Link</a></td>
                {% else %}
                  <td>{{ cafe_row_data }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
    </div>
  </div>
</div>
{% endblock %}
